* {
  margin: 0;
  padding: 0;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 25, 25);
}
.container {
  color: black;
  display: flex;
  gap: 10px;
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 5%;
  user-select: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clock {
  display: flex;
  gap: 10px;
  font-size: 100px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  color: white;
}

.date , .weekDay {
  display: flex;
  font-size: 30px;
  color: white;
  gap: 20px;
}

@media (max-width: 420px){
    .clock{
        font-size: 70px;
    }

    .date , .weekDay{
        font-size: 20px;
    }
}
